@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
  --background-colour: #F6F5F4;
  --text-colour: #595E4E;
  --banner-colour-1: #C8D7C4;
  --banner-colour-2: #C8D7C480; /* banner colour with 50% opacity*/
  --button-colour: #E3EAE1;

  --primary-font-web-copy: "EB Garamond"; /*need to import*/
  --primary-font-body-copy: "Outfit"; /*need to import*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--primary-font-body-copy);
  background-color: var(--background-colour);
  color: var(--text-colour);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-family: var(--primary-font-web-copy);
  letter-spacing: 0.1em;
  font-size: 128px;
  font-weight: normal;
}

h2 {
  font-family: var(--primary-font-web-copy);
  font-size: 64px;
  font-weight:bold;
}

h3 {
  font-family: var(--primary-font-web-copy);
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-family: var(--primary-font-web-copy);
  font-size: 16px;
  font-weight: bold;
}

h5 {
  font-size: 20px;
  font-weight: normal; 
}

h6 {
  font-size: 16px;
  font-weight: normal;
}

a {
  text-decoration: underline;
}

p {
  font-size: 15px;
}

#root {
  isolation: isolate;
}

.colour-box-container{
    display: flex;
}

.colour-box-bg,
.colour-box-banner1,
.colour-box-banner2,
.colour-box-text,
.colour-box-button {
    border-radius: 15px;      /* Adjust this value for more or less curve */
    width: 100px;             /* Example width */
    height: 100px;            /* Example height */
    padding: 20px;            /* Add some padding for content */
    color: white;             /* Text color for contrast */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    color:black;
    margin: 10px;
}

.colour-box-bg{
    background-color: var(--background-colour);
}

.colour-box-banner1{
    background-color: var(--banner-colour-1);
}

.colour-box-banner2{
    background-color: var(--banner-colour-2);
}

.colour-box-text{
    background-color: var(--text-colour);

}
.colour-box-button{
    background-color: var(--button-colour);
}

